@import '../base/variables';
@import '../base/titulos';

*{  box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: $color-bg;
}


ol li{
    background-color: #1a1a1a;
    color: #fee600;
}

a {
    text-decoration: none;
}


.contenedor-logo{
    display: block;
    margin: auto;
    position: sticky;
    text-align: center;
    top: 40px;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

/* hacer el carrusel responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
  }

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    article{
        margin: 10px;
            img{
                 width: 45vh;
                transition: 3s; 
            }
            img:hover{
                height: auto; width: 55vh;
            }
    }
}



.grid__quienes{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px 5px;
    padding: 20px;
}

.grid__quienes--fotos {
        text-align: center;
        background-color:$color-texto2;
            img{
            height: 100%;
            width: 100%;
            }
    }

.grid__quienes--fotos2 {
    grid-column: 1 / span 2;
    text-align: center;
    background-color:$color-texto2;

        img{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}

.grid__quienes--textos{
    text-align-last: center;
    padding: 0 15px 0 15px;
    text-align: left;
}

.grid-container{
    display: grid;
    gap: 1rem;
    padding: 1rem;
    align-content: center;
    justify-content: space-around;
    grid-template-areas: "combos pollo" "combos pollo" "papas empanadas";

    article img{
        width: 100%;
        height: auto;
    }
}

.combos{
    grid-area: combos;
    text-align: center;
    background-color:$color-texto2;
}
.pollo{
    grid-area: pollo;
    text-align: center;
    background-color: $color-texto2;
}
.papas{
    grid-area: papas;
    text-align: center;
    background-color:$color-texto2;
}

.empanadas{
    grid-area: empanadas;
    text-align: center;
    background-color:$color-texto2;
}