@import '../base/variables';
@import '../base/titulos';

*{  box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: $color-bg;
}

/* hacer el carrusel responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
  }

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    article{
        margin: 10px;
            img{
                 width: 45vh;
                transition: 3s; 
            }
            img:hover{
                height: auto; width: 55vh;
            }
    }
}



.grid__quienes{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    gap: 10px 5px;
    padding: 20px;
    grid-template-areas:
    "fotos textos"
    "fotos fotos2";
}

.fotos {
        grid-area: fotos;
        align-self: baseline;
        text-align: center;
        background-color:$color-texto2;
    
            img{
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
            }
    }

.fotos2{
    grid-area: fotos2;
    text-align: center;
    background-color:$color-texto2;

        img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.textos{
    grid-area: textos;
    padding: 0 15px 0 15px;
    text-align: left;
}

.grid-container{
    display: grid;
    gap: 10px;
    padding: 10px;
    align-content: center;
    justify-content: space-around;
    grid-template-areas:
        "combos pollo"
        "combos pollo"
        "papas empanadas";
}

.grid-container article img{
    width: 100%;
    height: auto;
    
    
}
.combos{
    grid-area: combos;
    text-align: center;
    background-color:$color-texto2;
}
.pollo{
    text-align: center;
    grid-area: pollo;
    background-color: $color-texto2;
}
.papas{
    text-align: center;
    grid-area: papas;
    background-color:$color-texto2;
}
.empanadas{
    text-align: center;
    grid-area: empanadas;
    background-color:$color-texto2;
}


